<div class="row">
  <div class="col-xs-12 pt-3">
    <form #ingredientForm="ngForm" (ngSubmit)="onSubmit(ingredientForm.value)">
      <div class="row">
        <div class="col col-sm-5">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Name of the ingredient"
              name="name"
              #name="ngModel"
              ngModel
              required
            />
            <span
              class="text-danger help-block"
              *ngIf="name.invalid && name.touched"
              >Please enter a valid ingredient name</span
            >
          </div>
        </div>
        <div class="col col-sm-2">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input
              type="number"
              class="form-control"
              id="amount"
              placeholder="Amount"
              name="amount"
              #amount="ngModel"
              ngModel
              required
              pattern="^[1-9]+[0-9]*$"
            />
            <span
              class="text-danger help-block"
              *ngIf="amount.invalid && amount.touched"
              >Please enter a valid amount for the ingredient</span
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            [disabled]="ingredientForm.invalid"
            class="btn btn-success btn-space"
            type="submit"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-danger btn-space"
            type="button"
            [disabled]="!editMode"
            (click)="deleteItem()"
          >
            Delete
          </button>
          <button
            class="btn btn-primary btn-space"
            type="button"
            (click)="clearItem()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
