<app-header (getSelectedLink)="getLink($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-receipes
        *ngIf="HeaderLinkCONSTANTS.RECEIPES === selectedLink"
      ></app-receipes>
      <app-shopping-list
        *ngIf="HeaderLinkCONSTANTS.SHOPPING === selectedLink"
      ></app-shopping-list>
      <p *appUnless="HeaderLinkCONSTANTS.SHOPPING === selectedLink">
        Will show unless selected link is shopping
      </p>
      <ng-template [appUnless]="HeaderLinkCONSTANTS.SHOPPING === selectedLink">
        <p>Showing with the different syntax..</p>
      </ng-template> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
