<div class="row">
  <div class="col-md-5">
    <!-- <app-receipe-list
      (receipeWasSelected)="onReceipeSelected($event)"
    ></app-receipe-list> -->
    <app-receipe-list></app-receipe-list>
  </div>
  <div class="col-md-7">
    <app-receipe-detail
      *ngIf="selectedReceipe; else noReceipeSelectedInfoText"
      [receipe]="selectedReceipe"
    ></app-receipe-detail>
    <ng-template #noReceipeSelectedInfoText>
      <p class="info-text">
        No Receipe Selected.. <br />Please select a recipe to view the details.
      </p>
    </ng-template>
  </div>
</div>
