/* You can add global styles to this file, and also import other style files */

a {
  cursor: pointer;
}

.mr-10 {
  margin-right: 10px;
}
.mr-5 {
  margin-right: 5px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
